header {
  background-color:#424F5C;
  height:75px;
  width:100%;
  position :fixed;
  margin: 0 auto;
  top: 0;
  z-index: 10;
  
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Lucida Grande";
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header-left {
  float:left;
  margin-right:25px;
}
.header-logo {
  width: 100px;
  height: 70px;
  /* margin-top: -10px; */
  float:left;
}
.header-left a {
  color:#D8D5D2;
  line-height: 75px;
  padding: 0 25px;
  display: block;
  transition: all 0.5s;
  float:left;
}
.header-right {
  float:right;
  margin-right:25px;
}
.header-right a {
  color:#D8D5D2;
  line-height: 75px;
  padding: 0 25px;
  display: block;
  transition: all 0.5s;
}
.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.content {
  background-color: #D8D5D2;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://cdn.pixabay.com/photo/2015/10/31/14/35/dark-1015828_960_720.jpg);
  background-size: cover;
  color:#D8D5D2;
  text-align: center;

}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1 {
   font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
    margin-bottom: 5px;
}

.btn-wrapper p {
  margin: 10px 0;
}

.Signup {
  background-color: #7C8981;
  margin-right: 10px;
}

.Login {
  background-color: #7C8981;
}

.btn {
  padding: 12px 24px;
  color:#D8D5D2;
  display: inline-block;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.content-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color:#7C8981;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #D8D5D2;
}

.content {
  float: left;
  width: 25%;
  color: #D8D5D2;
}

.content-icon {
  position: relative;
}

.foto{
  width:150px;
  height:200px;
}


.message-wrapper {
  border-bottom: 1px solid #424F5C;
  margin-top: 20px;
  color:#424F5C;
  padding-bottom: 80px;
  text-align: center;
  background-color: #D8D5D2;
}

.message {
  padding: 15px 40px;
  background-color: #424F5C;
  cursor: pointer;
  box-shadow: 0 7px #8C9CAA;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
/*CSS FOOTER*/
footer {
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 30px;
  font-weight: 400px;
  text-transform: capitalize;
  line-height: 100px;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 18px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 60px 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  color: #fff;
}
.socials a i {
  font-size: 20px;
}
.socials a:hover i {
  color: red;
}
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 25px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 15px;
  word-spacing: 2px;
  text-transform: capitalize;
}
